*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {font-family: Verdana,sans-serif;}

ul,li{
    list-style-type: none;
}

h1{
    text-align: center;
    font-size: 2vw;
}

.YearAndMonth{
    width: 60vw;
    max-width: 1000px;
    min-width: 250px;
    padding: calc(80vw *1/8/2) 10px;
    margin: auto;
    background-color: #1abc9c;
}
@media screen and (max-width:500px){
   .YearAndMonth{
    width: 90vw;
    min-width: 250px;
   }
}

.YearAndMonth ul{
    text-align: center;
    color: white;
    font-size: 2rem;
}

.prev{
    float: left;
    padding-top: calc();
}
.next{
    float: right;
}

.weekDays,
.daylyDays{
    width: 60vw;
    max-width: 1000px;
    min-width: 250px;
    padding: calc(80vw *1/6/10) 2vw;
    margin: auto;
    background-color: #ddd;
    text-align: center;
    color: #666;
}

.weekDays ul,
.daylyDays ul{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:500px){
   .weekDays,
   .daylyDays{
    width: 90vw;
    min-width: 250px;
   }
}

.daylyDays{
    background-color: #eee;
    color: #777;
    color: rgba(0,0,0,0.6);
}

.weekDays ul li,
.daylyDays ul li{
    width: 3em;
}

.today{
    background-color: rgba(0, 255, 255, 0.3);
    border: 2px groove rgba(0, 255, 255, 0.3);
    border-radius: 15% 15% 15% 15%;
}